.gitignore
bin/
obj/
.vs/
App_Data/*.db
UploadedEvidence/*
!UploadedEvidence/.gitkeep
terraform.tfvars
.terraform/
terraform/ubuntu@44.197.193.93
*.tfplan
*.tfstate
*.tfstate.backup
arm_key
arm_key.pub